@charset "utf-8";
/* CSS Document */

* {margin-left: 7px;}
* {font-family: serif;}

h2 {color: white;}
h1 {color: h2 {color: #00BFFF;};}
h1 {text-align: center;}
h2 {text-align: center}
h3 {margin-left: 290px;}

h2 {background-color: #FA58AC;}
h1 {background-color: #FA58AC;}
h4 {background-color: #FA58AC;}
h5 {background-color: #FA58AC;}
h3 {color:white;}
h4 {color:white;}
h4 {font-size: 45px;}
h4 {text-align: center;}
h5 {font-size: 55px;}
h5 {text-align: center}
h5 {color:white;}
p {margin-left: 250px; margin-right: 250px;}
* {text-align: justify-all;}
#lista {margin-left: 250px; margin-right: 250px;}
#IMG {text-align: center;}
