@charset "utf-8";
/* CSS Document */


div {padding: 0px}
div {margin: 0px}
div {align-content: center}

#header{
margin:0px; width: 500px; font-family: monospace; padding: 0px}

ul, ol {list-style: none}
.nav li a {background-color: deeppink;
color: #ffff; text-decoration: none; margin: none; padding: 10px 15px; display: block;}
.nav li a:hover{background-color: darkorchid;}
.nav > li {float: left;}
.nav li ul {display: none; position: absolute; min-width: 2px;}
.nav li:hover > ul {display: block;}